* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: black;
  color: #00ffff;
  font-family: monospace;
  text-align: center;
}

canvas {
  position: fixed;
  inset: 0;
  z-index: -1;
}

header {
  padding: 20px;
}

.controls {
  margin-top: 10px;
}

input, button {
  background: black;
  color: #00ffff;
  border: 1px solid #00ffff;
  padding: 8px;
  margin: 4px;
}

.editor-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  padding: 10px;
}

textarea {
  height: 180px;
  background: #020b13;
  color: #00ffcc;
  border: 1px solid #00ffff;
  padding: 10px;
  resize: none;
}

iframe {
  width: 95%;
  height: 260px;
  border: 2px solid #00ffff;
  background: white;
}

pre {
  width: 95%;
  margin: auto;
  background: #010a12;
  color: #00ff88;
  padding: 10px;
  min-height: 120px;
}
