* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: black;
  color: #00ffff;
  font-family: "Orbitron", monospace;
  overflow-x: hidden;
}

canvas {
  position: fixed;
  inset: 0;
  z-index: -1;
}

header {
  text-align: center;
  padding: 20px;
}

h1 {
  text-shadow: 0 0 15px #00ffff;
}

.controls button {
  margin: 5px;
}

.editor-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  padding: 10px;
}

textarea {
  height: 180px;
  background: #020b13;
  color: #00ffcc;
  border: 1px solid #00ffff;
  padding: 10px;
  resize: none;
  box-shadow: 0 0 10px #00ffff44;
}

button {
  background: black;
  color: #00ffff;
  border: 2px solid #00ffff;
  padding: 10px 16px;
  cursor: pointer;
  box-shadow: 0 0 10px #00ffff;
}

button:hover {
  background: #00ffff;
  color: black;
}

iframe {
  width: 95%;
  height: 260px;
  margin: 10px auto;
  display: block;
  border: 2px solid #00ffff;
  background: white;
}

pre {
  width: 95%;
  margin: auto;
  padding: 10px;
  background: #010a12;
  color: #00ff88;
  border: 1px solid #00ffff;
  min-height: 120px;
  overflow-y: auto;
}

/* SPACE THEME */
body.space {
  color: #aab7ff;
}

body.space textarea {
  color: #cfd8ff;
  border-color: #8899ff;
}

body.space button {
  color: #8899ff;
  border-color: #8899ff;
  box-shadow: 0 0 10px #8899ff;
}
